<h1>Services#index</h1>
<p>Find me in app/views/services/index.html.erb</p>

<% @services.each do |service| %>
  <%= service.name %>
<% end %>


<div class="container">
  <a href="" class="btn-radius btn-white">Button white</a>


  <br>
  <br>


  <a href="" class="btn-radius btn-green">Button green</a>


  <br>
  <br>

  <p><strong>Label "available":</strong></p>
  <p class= "label-base label-available">available now</p>

  <br>

  <p><strong>Label "not available:</strong></p>
  <p class= "label-base label-not-available">not available</p>

  <br>

  <p><strong>Avatar extra large:</strong></p>
  <img src="https://images.unsplash.com/photo-1479936343636-73cdc5aae0c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" alt="image" class="avatar-extra-large">

  <br>
  <br>

  <p><strong>Avatar large:</strong></p>
  <img src="https://images.unsplash.com/photo-1479936343636-73cdc5aae0c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" alt="image" class="avatar-large">

  <br>
  <br>

  <p><strong>Avatar:</strong></p>
  <img src="https://images.unsplash.com/photo-1479936343636-73cdc5aae0c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" alt="image" class="avatar">

  <br>
  <br>

  <p><strong>Post card with user info:</strong></p>
  <div class="post-card">
    <div class="post-card-header">
      <div class="post-card-header-avatar">
          <img src="https://images.unsplash.com/photo-1479936343636-73cdc5aae0c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" alt="image" class="avatar-large">
      </div>
      <div class="post-card-header-title">
        <h3>Main door</h3>
        <p>By Caroline Dumond, July 4th</p>
      </div>
    </div>
    <div class="post-card-body">
      <p>Dear all, please make sure to close the door everytime you enter / leave the building.
      Thanks a lot!</p>
    </div>
    <div class="post-card-bottom">
      <p>11</p><i class="fas fa-thumbs-up card-bottom-icon"></i>
      <p>18</p><i class="fas fa-comment card-bottom-icon"></i>
      <p class= "label-base label-post-type">safety</p>
    </div>
  </div>

  <br>
  <br>

  <p><strong>Post card without user info:</strong></p>
  <div class="post-card">
    <div class="post-card-header">
      <div class="post-card-header-title margin-left">
        <h3>Main door</h3>
      </div>
    </div>
    <div class="post-card-body">
      <p>Dear all, please make sure to close the door everytime you enter / leave the building.
      Thanks a lot!</p>
    </div>
    <div class="post-card-bottom">
      <p>11</p><i class="fas fa-thumbs-up card-bottom-icon"></i>
      <p>18</p><i class="fas fa-comment card-bottom-icon"></i>
      <p class= "label-base label-post-type">safety</p>
    </div>
  </div>

  <br>
  <br>

  <p><strong>Event card with user info:</strong></p>
  <div class="event-card">
    <div class="event-card-avatars">
      <div class="event-card-avatars-date">
        <p class="month">Dec</p>
        <p class="day">14th</p>
      </div>
      <div class="event-card-avatars-user">
        <img src="https://images.unsplash.com/photo-1479936343636-73cdc5aae0c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" alt="image" class="avatar-large">
      </div>
    </div>
    <div class="event-card-text">
      <div class="event-card-text-header">
        <div class="event-card-text-header-title">
          <h3>Tea time at my place</h3>
          <p>By Caroline Dumond</p>
        </div>
        <div class="event-card-text-header-info">
          <div class="event-card-text-bottom">
            <i class="fas fa-map-marker-alt card-bottom-icon event-card-bottom-icon "></i><p>My flat</p>
          </div>
          <div class="event-card-text-bottom">
            <i class="fas fa-clock card-bottom-icon event-card-bottom-icon"></i><p>5PM</p>
          </div>
        </div>
      </div>
      <div class="event-card-text-body">
        <p>Dear all, let’s enjoy some time together around a nice cup of tea next sunday!</p>
      </div>
      <div class="post-card-bottom">
        <p>11</p><i class="fas fa-thumbs-up card-bottom-icon"></i>
        <p>18</p><i class="fas fa-comment card-bottom-icon"></i>
      </div>
    </div>
  </div>

  <br>
  <br>

   <p><strong>Event card without user info:</strong></p>
  <div class="event-card">
    <div class="event-card-avatars">
      <div class="event-card-avatars-date">
        <p class="month">Dec</p>
        <p class="day">14th</p>
      </div>
    </div>
    <div class="event-card-text">
      <div class="event-card-text-header">
        <div class="event-card-text-header-title">
          <h3>Tea time at my place</h3>
        </div>
        <div class="event-card-text-header-info">
          <div class="event-card-text-bottom">
            <i class="fas fa-map-marker-alt card-bottom-icon event-card-bottom-icon "></i><p>My flat</p>
          </div>
          <div class="event-card-text-bottom">
            <i class="fas fa-clock card-bottom-icon event-card-bottom-icon"></i><p>5PM</p>
          </div>
        </div>
      </div>
      <div class="event-card-text-body">
        <p>Dear all, let’s enjoy some time together around a nice cup of tea next sunday!</p>
      </div>
      <div class="post-card-bottom">
        <p>11</p><i class="fas fa-thumbs-up card-bottom-icon"></i>
        <p>18</p><i class="fas fa-comment card-bottom-icon"></i>
      </div>
    </div>
  </div>

  <br>
  <br>

  <p><strong>Profile preview card:</strong></p>
  <div class="profile-card">
    <div class="profile-card-elements">
      <img src="https://images.unsplash.com/photo-1479936343636-73cdc5aae0c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" alt="image" class="avatar-large">
      <h2>Marie Dumond</h2>
      <p>3rd floor</p>
    </div>
  </div>

  <br>
  <br>

  <p><strong>Profile info card:</strong></p>
  <div class="profile-info-card">
    <div class="profile-info-card-avatar">
      <img src="https://images.unsplash.com/photo-1479936343636-73cdc5aae0c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80" alt="image" class="avatar-extra-large">
    </div>
    <div class="profile-info-card-text">
      <div class="profile-info-card-text-intro">
        <i class="fas fa-envelope"></i>
        <p>"Hi! I am Marine,  I have been living in the buidling for 3 years now and love getting to know my neighbours."</p>
      </div>
      <div class="profile-info-card-text-details">
        <p>💼: Accountant </p>
        <p>❤️: Meeting new people, sports</p>
        <p>☎️: 06.34.56.21.43</p>
      </div>
    </div>
  </div>

    <br>
  <br>

  <p><strong>Service card:</strong></p>

<div class="service-card">
  <div class="service-card-labels">
    <p class= "label-base label-service-type">loan</p>
    <p class= "label-base label-price">30€/day</p>
  </div>
  <div class="service-card-body">
    <div class="service-card-body-elements">
      <h2>Drill</h2>
      <p>Great drill for everything you need to do in your house.</p>
    </div>
  </div>
    <p class= "label-base label-available">available now</p>
    <p class= "label-base label-not-available">not available</p>
</div>

</div>
