.fa-chevron-left {
  color:white;
  padding-left: 21px;
  font-size: 33px;
  margin-top: 24px;
}

.profile-edit-image {
  width:37%;
  margin-top:-32px;
}

.profile-photo-btn-position {
  margin-left:12px;
  margin-bottom:0px;
}
