.profile-avatar-margin {
  margin-top: -72px;
}

.profile-avatar-position {
  margin-top:-65px;
}

.profile-avatar-position-user {
  margin-top:-132px;
}

.profile-avatar-position-user img{
  margin-top:-132px;
}

.profile-title {
  margin-top:-48px;
}
