.app-header {
  color: white;
  height: 276px;
  background-image : url(https://res.cloudinary.com/dk85eoleo/image/upload/v1606400493/Wave_kwwvi9.png);
  margin-bottom: 24px;
}

.app-header h1 {
  text-align:center;
}

.header-icon {
  padding-top: 18px;
  font-size: 73px;
}

.header-icon-choice {
  padding-top: 18px;
  font-size: 73px;
}

.alert-notification {
  position: absolute;
  top: 18px;
  right: 50px;
}

.fa-comments {
  font-size: 30px;
}
