.app-header {
  color: white;
  height: 276px;
  background-image : url(https://res.cloudinary.com/dk85eoleo/image/upload/v1606400493/Wave_kwwvi9.png);
  margin-bottom: 24px;
}

.app-header h1 {
  text-align:center;
  font-size : 73px;
}

.app-header h2 {
  font-size: 30px;
  text-align:center;
}

.header-icon {
  padding-top: 5px;
  font-size: 73px;
}

.main-image {
  width: 66%;
  margin-top: -10px;
}

.header-icon-choice {
  padding-top: 18px;
  font-size: 73px;
}

.header-illustration{
  padding-top: 40px;
}


