.app-header {
  color: white;
  height: 276px;
  background-image : url(Wave.png);
  margin-bottom: 24px;
}

.app-header h1 {
  text-align:center;
}

.header-icon {
  padding-top: 48px;
  font-size: 73px;
}

.header-icon-choice {
  padding-top: 18px;
  font-size: 73px;
}
