<div class="fixed-bottom">
  <div class="plus-sign">
    <i class="fas fa-plus-circle"></i>
  </div>
  <div class="background">
    <div class="corner-left">
      <div class="nav-button-navbar">
        <i class="fas fa-building"></i>
        <p> <%= link_to "Home", root_path%></p>
      </div>
      <div class="nav-button-navbar">
        <i class="fas fa-users"></i>
        <p> <%= link_to "Neighbours", users_path%></p>
      </div>
    </div>
    <div class="corner-right">
      <div class="nav-button-navbar">
        <i class="fas fa-hands-helping"></i>
        <p> <%= link_to "Services", services_path%></p>
      </div>
      <div class="nav-button-navbar">
        <i class="fas fa-info"></i>
        <p>Building info</p>
      </div>
    </div>
  </div>
</div>

