<div class="plus-sign">
  <i class="fas fa-plus-circle"></i>
</div>
<div class="background">
  <div class="corner-left">
    <div class="nav-button">
      <i class="fas fa-building"></i>
      <p>Home</p>
    </div>
    <div class="nav-button">
      <i class="fas fa-users"></i>
      <p>Neighbours</p>
    </div>
  </div>
  <div class="corner-right">
    <div class="nav-button">
      <i class="fas fa-hands-helping"></i>
      <p>Services</p>
    </div>
    <div class="nav-button">
      <i class="fas fa-info"></i>
      <p>Building info</p>
    </div>
  </div>
</div>


