

 <div class="app-header">
    <%= render "shared/header" %>
  <h1 class="header-icon pt-0"> <%= image_tag "https://res.cloudinary.com/dk85eoleo/image/upload/c_scale,w_150/v1606908031/events_pzsswb.png", alt: "alttext"%> </h1>
  <h2 class= "text-center pt-0 test2">All events</h2>
</div>


  <br>


    <div><%= render "shared/event", events: @events %></div>


