<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<p> <%  @events.each do |event| %>
  <%= event.title %>
</p>
<% end %>

<% if policy(Event).create? %>
<%= link_to "New Event", new_event_path %>
<% end %>


