<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<div class="container ">
  <div class="d-flex test">
    <img src="#" alt="Logo">
    <img src="#" alt="logo_msg">
    <img src="#" alt="avatar">
  </div>

  <div class="test">
    <%= image_tag "Alone.png" %> </div>
  <div class="test"> <h1>Welcome Home Vanessa !</h1> </div>

  <div class="d-flex">
    <p>search bar</p> <span>....................</span><a href="#">GO!</a>
  </div>

  <div>
    <h2> Latest post :</h2>
    <div>post 1</div>
    <div>post 2</div>
    <div>post 3</div>
    <div> btn See all</div>
  </div>

  <div>
    <h2> Upcoming Event :</h2>
    <div>event 1</div>
    <div>event 2</div>
    <div>event 3</div>
    <div> btn See all</div>
  </div>

  <div class="test">
  <%= render "shared/footer" %>
  </div>
</div>
