.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.form-event {
  width:100%;
}

.user-show{
border-bottom: 1px solid #389393;
width: 342px;
color: #389393;
}

.test {
  width: 4px;
}
