.btn-radius {
  padding: 15px 23px;
  border-radius: 50px;
}

.btn-radius:hover {
  text-decoration:none;
}

.btn-radius-small {
  padding: 8px 16px;
  border-radius: 50px;
}

.btn-radius-small:hover{
  text-decoration:none;
}

.btn-white {
  color: #389393;
  background-color:white;
}

.btn-white:hover {
  color: #389393;
  background-color:white;
}

.btn-green {
  color: white;
  background-color: #389393;
}

.btn-green:hover {
  color: white;
  background-color: #389393;
}


.btn-flat{
  color: #000D83;
}

