// graym: #989aad;


.post-card {
  border-radius: 5px;
  box-shadow: -1px 1px 7px 0px #00000024;
  border-style: solid;
  border-color: #389393;
  border-width: thin;
  margin: 20px 0px;
}

.post-card-choice {
    border-radius: 5px;
    box-shadow: -1px 1px 7px 0px #00000024;
    border-style: solid;
    border-color: #389393;
    border-width: thin;
    margin: 9px;
    width: 100px;
    height: 79px;
    justify-content: space-between;
    text-align: center;
    color: black;
    font-size: 20px;
    margin-top: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.deco-non {
  text-decoration: none;
}

.deco-non:hover {
  text-decoration: none;
}

.post-card-header {
  display:flex;
  justify-content: left;
  align-items: center;
  background-color: #389393;
  padding-bottom: 10px;
}

.post-card-header-avatar {
  margin: 10px;
  margin-bottom: 0;
}

.post-card-header-title {
  margin-top: 10px;
  color:white
}

.post-card-header-title h3 {
  font-size: 20px;
  margin: 0px;
}

.margin-left {
  margin-left: 10px;
}

.post-card-header-title p {
  margin-bottom: 0;
}

.post-card-body {
  padding: 10px;
  background-color: white;
}

.post-card-body p {
  margin-bottom: 0px;
}

.post-card-bottom {
  display: flex;
  justify-content: left;
  align-items: baseline;
  background-color: white;
  border-radius: 0 0 5px 5px;
}

.post-card-bottom p {
  margin-left: 10px;
  margin-right: 6px;
  margin-bottom: 5px;
}

.card-bottom-icon {
  color: grey;
  font-size: 18px;
  padding-bottom: 0px;
}

.social-icons {
  display:flex;
  width:42%;
  justify-content:left;
}

.info-icons {
  display:flex;
  width:50%;
  justify-content:right;
}

.event-card {
  display:flex;
}

.event-card-avatars {
  margin-right: 10px;
  width: 68px;
}

.event-card-avatars-date {
  background:white;
  border-radius: 50px;
}

.event-card-avatars-date p {
  color: #389393;
}


.event-card-text-header .month {
  padding-top: 10px;
  margin: auto;
  text-align: center;
  color:#000D83;
}

.event-card-text-header .day {
  padding-bottom: 6px;
  margin: auto;
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  color:#000D83;
}

.event-card-avatars-user {
  margin-top: -10px;
}

.event-card-text {
  border-radius: 5px;
  box-shadow: -1px 1px 7px 0px #00000024;
}

.event-card-text-header {
  border-radius: 5px 5px 0 0;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000D83;
  padding: 10px;
  color:white;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: white;
}

.card-opacity {
  // border-radius: 5px 5px 0 0;
  // display:flex;
  // justify-content: space-between;
  // align-items: center;
  // background-color: #000D83;
  // padding: 10px;
  // color:white;
  // border-bottom-style: solid;
  // border-bottom-width: thin;
  // border-bottom-color: white;
  opacity: 0.3;
}

.event-card-text-header h3 {
  font-size: 20px;
  margin: 0px;
}


.event-card-text-header p {
  margin-bottom: 0;
}

.event-card-text-body {
  padding: 10px 10px 15px 10px;
}

.event-card-text-body p {
  margin-bottom: 0;
  color: black;
}

.event-card-bottom {
  display: flex;
  justify-content: left;
  align-items: baseline;
  border-radius: 0 0 5px 5px;
}

.event-card-bottom p {
  color:#000D83;
  margin-left: 10px;
  margin-right: 6px;
  margin-bottom: 5px;
}


.event-card-text-bottom {
  display: flex;
  justify-content: left;
  align-items: baseline;
}

.event-card-text-bottom .hour-width {
  width: 87px;
}

.event-card-text-bottom .location-width {
  width: 93px;
}

.event-card-text-bottom p {
  color:black;
  margin-right: 6px;
  margin-bottom: 5px;
}

.event-card-bottom .info-icons {
  width:302px;
  justify-content: space-around;
}

.event-card-bottom .fas {
  color:#000D83;
  font-size: 15px;
}

.event-card-bottom-icon {
  margin-left: 10px;
  margin-right: 6px;
  color: #000D83;
}

.profile-card {
  background-color:white;
  border-radius: 5px;
  box-shadow: -1px 1px 7px 0px #00000024;
  width: 116px;
}

.profile-card-elements {
  text-align: center;
  padding-top: 17px;
  padding-bottom: 17px;

}

.profile-card-elements h2 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 16px;
  color: #000D83;
}

.profile-card-elements p {
  font-size: 13px;
  margin-bottom: 0;
}

.profile-card-elements .small-font {
  color:grey;
  font-size:10px;
}

.profile-info-card {
  border-radius: 5px;
  box-shadow: -1px 1px 7px 0px #00000024;
  background:white;
  padding: 10px;
}

.profile-info-card-avatar {
  text-align: center;
  margin-bottom: -9px;
}

.profile-info-card-avatar img {
  margin-top: -91px;
}


.profile-info-card-text-intro {
  text-align:center;
}

.profile-info-card-text-intro .fas {
  font-size: 27px;
  color: #000D83;
  margin-top: 6px;
}

.profile-info-card-text-intro p {
  padding: 14px;
  font-weight: 600;
  margin-top: -8px;
  margin-bottom: 5px;
}

.profile-info-card-text-details p {
  margin-bottom: 8px;
}

.service-card {
  width: 190px;
}

.service-card-body {
  border-radius: 5px;
  box-shadow: -1px 1px 7px 0px #00000024;
  background-color:white;
}

.service-card-body-elements {
  width: 270.75px;
}

.service-card-body-elements h2 {
  font-size: 20px;
  background-color: #389393;
  padding: 10px;
  border-radius: 5px 5px 0px 0px;
  color: white;
}

.service-card-body-elements-header h2 {
  font-size: 20px;
  background-color: #389393;
  padding: 10px;
  border-radius: 5px 5px 0px 0px;
  color: white;
}

.service-card-body-elements p {
  font-size: 14px;
  padding: 5px;
  line-height: 18px;
}

.service-card-labels {
  display:flex;
  margin-bottom: 5px;
}

.service-card-with-user {
  display:flex;
  margin-bottom: 20px;
}

.service-card-avatars-user {
  margin-top: 27px;
}

.service-card-body-elements-header {
  background-color: #389393;
  padding: 10px;
  color:white;
  border-radius: 5px 5px 0 0;
}

.service-card-body-elements-header h2 {
  font-size: 20px;
  margin: 0px;
  padding: 0;
}

.service-card-body-elements-header p {
  margin-bottom: 0;
  padding: 0;
}

.service-card-body-elements-body p {
  padding: 10px 10px 0px 10px;
}

.color-white {
  color:white;
}

.profile-info-card {
  border-radius: 5px;
  box-shadow: -1px 1px 7px 0px #00000024;
  background-color: white;
}

.green-background {
   background-color: #389393;
}

.green-background h4 {
  color:white;
}

.cards{

}
