.mobile-container {
  width:100%;
}

.body-container {
  width: 97%;
  margin: auto;
}

.filter-container {
  border-radius: 5px;
  background: transparent;
  margin: 10px;
  line-height: 3;
}

.filter-container-content {
  text-align:center;
  margin: 10px;
}
