.head-green {
background-color:#389393;
color: white;
}

.flexbox{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0px 10px 0px 10px;
}

.flexbox-user{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0px 10px 0px 10px;
}

.flexbox-services{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0px 10px 0px 10px;
}

.background-green {
  background-color: #399393;
  box-shadow: 0px 1px 0px 0px #67646485;
  padding-bottom: 10px;
  margin:0;
}

.fleche {
  padding-top: 78px;
}

.back-to-page .fa-chevron-left {
  color:white;
}

.message-show-illu {
  margin: auto;
  margin-left: 103px;
}
