.head-green {
background-color:#389393;
color: white;
}

.flexbox{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0px 10px 0px 10px;
}

.fas-avatar{
  font-size: 25px;
}
