.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.background {
  background-color: #389393;
  color: white;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
}

.corner-left {
  display:flex;
  justify-content:space-around;
  width: 40%;
  margin-left: -19px;
}

.corner-right {
  display:flex;
  justify-content:space-around;
  width: 40%;
  margin-right: -19px;
}

.plus-sign {
  text-align: center;
  color: white;
  font-size: 56px;
  margin-bottom: -67px;
  position:relative;

  &:before {
    content: "";
    position: absolute;
    height: 95px;
    width: 95px;
    background: white;
    z-index: -1;
    border-radius: 50%;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
}
}

.fa-plus-circle {
  background-color: #389393;
  border-radius: 50%;
  border-style: solid;
  border-color: #389393;
  border-width: 17px;
}

.nav-button {
  text-align: center;
  color: white;
  z-index: 100;
}

.nav-button p {
  margin-bottom: 0px;
}

.deco-non-navbar{
  color: white;
  text-decoration: none;
}

.deco-non-navbar:hover{
  color: white;
  text-decoration: none;
}

.fixed-comment-bar {
  position: fixed;
  width: 100%;
  top: 649px;
  background-color:#95c1c2;
  padding-bottom: 36px;
  padding-top: 6px;
}

.fixed-comment-bar .btn-radius {
  padding-top: 4px;
  padding-bottom: 4px;
}

.no-shadow {
  box-shadow:none !important;
}

.no-border {
  border-style:none !important;
}

.justify-content-center {
  justify-content: center !important;
}

.comment-input-bar {
  width: 270px;
  border-radius: 14px;
  border-style: solid;
  border-width: thin;
  padding: 5px;
}

.active-nav {
  a {
    color:#000D83 !important;
  }
}
