#notif_icon.active{
  color: #000D83;
}

.alert-notification {
  position: relative;
  span#notif_count {
    position: absolute;

    border-radius: 50%;
    top: 0px;
    right: 0px;
    background-color: #000D83;
    color: white;
    &.active{
    height: 20px;
    width: 20px;
    font-size: 12px;
    display: flex;
    place-content: center;
    line-height: 20px;
    }
  }
}
