.notification-design{
  border-width: thin;
  border-radius: 50px;
  border-style: solid;
  border-color: red;
  position: absolute;
  color: white;
  top: 32px;
}

#notif_icon.active{
  color: red;
}
