.fa-thumbs-up{
  color: #000D83;
  font-size: 22px;
}

.fa-comment{
  color: #000D83;
  font-size: 22px;
}

.post-card-bottom p{
  color: #000D83;
  margin-bottom: 12px;
}

.post-card-bottom{
  font-size: 13px;
}
