.arrow-back {
  position: fixed;

}

.fa-chevron-left {
  color: white;
  padding-left: 25px !important;
  font-size: 33px;
  margin-top: 17px !important;

}

.fa-thumbs-up{
  color: grey;
  font-size: 22px;
}

.fa-thumbs-up:hover {
  color:grey;
  text-decoration: none;
}

.post-card-bottom p{
  color: #000D83;
  margin-bottom: 12px;
}

.post-card-bottom{
  font-size: 13px;
}

.fas-avatar{
  font-size: 25px;
}

.fa-search {
  font-size: 30px;
  color: white;
  justify-content: flex-end;
  padding: 10px 10px;
}

.fa-comments {
  font-size: 30px;
  text-decoration: none;
  color: white;
  padding: 10px 10px;
}

.fa-comments-user {
  font-size: 30px;
  text-decoration: none;
  padding: 0px 7px;
  color: #389393;
}

.fa-comment:hover {
  color:#000D83;
  text-decoration: none;

}

.fa-comment{
  color: #000D83;
  font-size: 22px;
}

.fa-info{
  font-size: 30px;
  color: white;
  justify-content: flex-end;
  padding: 10px 10px;

}

.liked {
  color: #000D83;
}

.liked:hover {
  color: #000D83;
}
